@charset "UTF-8";

:root {
    --cor0:#F2E7DC;
    --cor1:#A9D9D0;
    --cor2:#038C7F;
    --cor3:#027373;
    --cor4:#10403B;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor1);
    height: 97vh;
}

header {
    background-color: black;
    color: var(--cor0);
    text-align: center;
    padding: 30px;
    text-shadow: 3px 3px 4px black;
    margin-bottom: 80px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.418);
}

main {
    background-color: var(--cor0);
    margin: auto;
    width: 450px;
    height: 450px;
    color: var(--cor4);
    font-weight: bolder;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.452);
    line-height: 80px;
}

.pag2 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    background-color: #0DD946;
    height: 97vh;
}

.pag3 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    background-color: #8E61ED;
    height: 97vh;
}

a {
    text-decoration: none;
    color: var(--cor4);
    
}

a:hover {
    text-decoration: underline;
    background-color: var(--cor4);
    color: var(--cor0);
    padding: 7px;
    border-radius: 13px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.507);
    border: 1px solid black;
}

.azul{
    color: #322DD6;
}

.verde{
    color: #0eb43d;
}

.roxo {
    color:#6f4cbb;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
    text-align: center;
    color: var(--cor0);
    text-decoration: underline;
}