@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0:#c5ebd6;
    --cor1:#0FC2C0;
    --cor2:#0CABA8;
    --cor3:#008F8C;
    --cor4:#015958;
    --cor5:#023535;
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2:'idroid';
    --font3:'Bebas Neue', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    
    background-color:var(--cor0);
    font-family:var(--font1); 

}

#home {
    background-image: linear-gradient(to bottom, var(--cor3), var( --cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

#home > h1 {
    font-size: 3em;
    color: white;
    font-family: var(--font3);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}

#home > p {
    color: white;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;

}


nav {
    padding: 10px;
    background-color: var(--cor5);
}

nav  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition-duration: .5s;
}

a.link {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
}

a.link:hover {
    text-decoration: underline;
    color: white;
}
 
a:hover {
    background-color: var(--cor3);
    text-decoration: underline;
    padding: 5px;
    border-radius: 7px;
}

main {
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.315);
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

strong {
    color: var(--cor3);
}


main  h1 {
    font-family:var(--font2);
    font-size: 32px; 
    color: var(--cor4);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}

main  h2 {
    font-family: var(--font2);
    background-image: linear-gradient(to right, var(--cor5), transparent);
    color: var(--cor0);
    border-radius: 10px;
    padding: 4px;
    font-size: 1.5em;
    text-indent: 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}

main  p {
    margin: 15px 0px;
    text-indent: 2em;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 1em;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

a.link::after {
    content: '\00A0\1F517';
}

div {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#curiosidades {
    background-color: #C5EBD6;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.322);
    padding: 10px;
}

#curiosidades > h3 {
    color: white;
    background-color:var(--cor3);
    padding: 7px;
    border-radius: 7px 7px 0px 0px;
    margin: -10px -10px 0px -10px;
}

ul {
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
    background-color: var(--cor5);
}

