@charset "UTF-8";

:root {
    --cor0:#F2E7DC;
    --cor1:#A9D9D0;
    --cor2:#038C7F;
    --cor3:#027373;
    --cor4:#10403B;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor1);
    height: 100vh;
}

header {
    background-color: black;
    color: var(--cor0);
    text-align: center;
    padding: 30px;
    text-shadow: 3px 3px 4px black;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.418)
}

main {
    margin: auto;
    width: 90%;
    height: 80vh;
    padding: 20px;
    background-color: var(--cor0);
}

article h2 {
    margin-left: -19.5px;
    margin-right: -19.5px;
    text-align: center;
    color: var(--cor0);
    background-color: var(--cor3);
    padding: 7px;
    text-shadow: 3px 3px 4px black;
}

article p {
    font-size: 20px;
    text-align: justify;
}

footer {
    margin-top: 0px;
    background-color: var(--cor0);
    color: var(--cor0);
    position: absolute;
    bottom: 0;
    width: 100%;
}


footer h2 {
    margin-top: 0;
    padding: 7px;
    text-align: center;
    background-color: black;
    text-shadow: 3px 3px 4px black;

}

footer ul {
    columns: 3;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    line-height: 30px;
}

a:hover {
    text-decoration: underline;
    background-color: var(--cor1);
    padding: 3px;
    border-radius: 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.589)
    
}

