@charset "UTF-8";

:root {
    --cor0:#F2E7DC;
    --cor1:#A9D9D0;
    --cor2:#038C7F;
    --cor3:#027373;
    --cor4:#10403B;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    height: 100vh;
}

header {
    background-color: black;
    color: var(--cor0);
    text-align: center;
    padding: 30px;
    text-shadow: 3px 3px 4px black;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.418)
}

main {
    margin: auto;
    width: 90%;
    height: 700px;
    padding: 20px;
    background-color: var(--cor1);
    border-radius: 0px 0px 10px 0px;
}

article h2 {
    margin-left: -19px;
    margin-right: -19px;
    text-align: center;
    color: var(--cor0);
    background-color: var(--cor2);
    padding: 7px;
    margin-bottom: 15px;
}

article p {
    font-size: 20px;
    text-align: justify;
}

aside {
    margin-top: 216px;
    width: 230px;
}

aside h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    background-color: var(--cor4);
    color: var(--cor0);
    margin-left: -20px;
    padding: 7px;
    border-radius: 0px 9px 0px 0px;
}

aside ul{
    background-color: var(--cor2);
    padding: 20px;
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
    margin-left: -20px;
}

li a{
    padding: 7px;
    color: var(--cor0);
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}