@charset "UTF-8";

:root {
    --cor0:#F2E7DC;
    --cor1:#A9D9D0;
    --cor2:#038C7F;
    --cor3:#027373;
    --cor4:#10403B;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor1);
    height: 97vh;
}

header {
    background-color: black;
    color: var(--cor0);
    text-align: center;
    padding: 30px;
    text-shadow: 3px 3px 4px black;
    margin-bottom: 80px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.418)
}


section{
    background-color: var(--cor0);
    margin: auto;
    letter-spacing: 2px;
    line-height: 35px;
    width: 470px;
    height: 450px;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.452);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
    text-align: center;
    color: var(--cor0);
    text-decoration: underline;
}

